/* =========================
===========Hero=============
========================= */
@media screen and (max-width: 992px) {
  .hero {
    height: auto;
    padding-bottom: 100px;
  }

  .hero-main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-img-part {
    width: 70%;
    margin-bottom: 30px;
  }

  .hero-text-part {
    width: 60%;
  }
}

/* ==========================
===========Chefs=============
========================== */
@media screen and (max-width: 768px) {
  .chefs-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .chefs-card {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .chefs-cards {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .chefs-card {
    width: 45%;
    margin-bottom: 30px;
  }
}

/* ============================
===========Gallery=============
============================ */
@media screen and (max-width: 992px) {
  .gallery-box {
    flex-wrap: wrap;
  }
}

/* ============================
===========Contact=============
============================ */
@media screen and (max-width: 992px) {
  .contact-method {
    width: 100%;
  }
  form .name {
    width: 100%;
  }

  form .email {
    width: 100%;
  }
}

/* ===========================
===========Footer=============
=========================== */
@media screen and (max-width: 992px) {
  footer main {
    flex-direction: column;
    align-items: center;
  }
  .social-media {
    width: 100%;
  }

  .subscribe {
    width: 100%;
  }

  .get-in-touch {
    width: 100%;
  }
}
